doctype html
html
  head
    title Widget
    <script type="text/javascript" src="//static.parastorage.com/services/js-sdk/1.61.0/js/wix.min.js"></script>
    script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js")
    style(wix-style="").
      body {
        background: {{style.bgColor color-1}};
        color: {{style.fgColor color-5}};
        {{style.font Body-M}}
      }
      .results text {
        fill:{{style.textColor color-5}};
      }
      button {
        color: {{style.buttonTextColor color-1}};
        background-color: {{style.buttonColor color-8}};
        {{style.buttonFont Heading-S}}
      }
      button:hover {
        background: {{style.buttonHoverColor color-7}};
        cursor: pointer;
      }
 
  body(style="display: none")
    <div id="widget-content"><div id="app"></div></div>
    input#poll(type="hidden", value=JSON.stringify(poll))
    <script>__REACT_DEVTOOLS_GLOBAL_HOOK__ = parent.__REACT_DEVTOOLS_GLOBAL_HOOK__</script>
    <script src="//cdn.jsdelivr.net/sockjs/1.0.1/sockjs.min.js"></script>
    <script type="text/javascript" src="assets/app.js"></script>
    script.
      $(function(){
        $("body").show();
      });
 
