
button {
  border: none;
}

button:disabled,
button.disabled {
  background-color: #AAAAAA;
}
button {
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 5px 5px;
  line-height: 1.8;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  padding-right: 6px;
  float: left
  font-size: 100%;
}

button:focus {
  outline: none
}
